@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Regular.woff2') format("woff2"),
    url('../fonts/OpenSans-Regular.woff') format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans';
    src: local('OpenSans-Light'),
    url('../fonts/OpenSans-Light.woff2') format("woff2"),
    url('../fonts/OpenSans-Light.woff') format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open-Sans';
    src: local('OpenSans-SemiBold'),
    url('../fonts/OpenSans-SemiBold.woff2') format("woff2"),
    url('../fonts/OpenSans-SemiBold.woff') format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    min-width: 1200px;
    font-family: 'OpenSans', sans-serif;
    font-weight: 400;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.flex {
    display: flex;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.section-title {
    margin: 0;
    margin-bottom: 40px;
    font-weight: 300;
    font-size: 36px;
    line-height: 130%;
    color: #1c1c1c;
}

.section-descr {
    margin: 0;
    margin-bottom: 50px;
    font-size: 16px;
    line-height: 22px;
    color: #787878;
}

.section-offset {
    padding-top: 87px;
    padding-bottom: 160px;
}

.header {
    padding: 36px 0;
    border-bottom: 1px solid #E5E5E5;
    background-color: #fff;
}

.header-link {
    font-weight: 600;
    color: #1c1c1c;
    font-size: 15px;
}

.header-link:hover {
    color: #71a7e2;
}

.header-link:active {
    color: #3172B9;
    border-bottom: 1.5px solid #3172B9;
}

.header-list-item:not(:last-child) {
    margin-right: 52px;
}

.btn {
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    padding: 15px 35px;
    background-color: #3172B9;
    color: #fff;
    border-radius: 3px;
}

.header-container {
    align-items: center;
}

.header-logo {
    margin-right: auto;
}

.header-nav {
    margin-right: 52px;
}

.header-list-item:not(:last-child) {
    margin-right: 52px;
}



.hero {
    padding-top: 100px;
    padding-bottom: 150px;
    background-image: url(../img/first-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-content {
    max-width: 50%;
}

.hero-content {
    max-width: 50%;
    flex-direction: column;
    align-items: flex-start;
}

.hero-title {
    margin: 0;
    margin-bottom: 25px;
    font-weight: 300;
    font-size: 40px;
    line-height: 130%;
}

.hero-descr {
    margin: 0;
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 155%;
    color: #787878;
}

.hero-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-btn {
    margin-bottom: 14px;
    min-width: 250px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 14px;
}

.hero-btn:hover {
    background-color: #71a7e2;
}

.hero-btn:active {
    border: 2.5px solid #0e3b6c;
    background-color: #3172B9;
}

.hero-secure {
    font-size: 11px;
    line-height: 155%;
    color: #787878;
    text-transform: uppercase;
    background-image: url(../img/secure.svg);
    background-position: left-center;
    background-size: 14px 17px;
    background-repeat: no-repeat;
    padding-left: 30px;
}

.services {
    border-bottom: 1px solid #dadada
}

.services-title {
    text-align: center;
}

.services-descr {
    text-align: center;
}

.services-item {
    flex-direction: column;
    align-items: center;
    padding: 60px 30px;
    width: 270px;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
}

.services-item:not(:nth-child(4n)) {
    margin-right: 30px;
}

.services-item-icon {
    margin-bottom: 25px;
}

.services-item-title {
    margin: 0;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 20px;
    line-height: 130px;
    color: #1c1c1c;
}

.services-item-descr {
    margin: 0;
    text-align: center;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #787878;
}

.articles {
    border-bottom: 1px solid #dadada;
}

.articles-list {
    flex-wrap: wrap;
}

.articles-item {
    width: 570px;
    margin-bottom: 30px;
}

.articles-item:not(:nth-child(2n)) {
    margin-right: 30px;
}

.blog-preview {
    overflow: hidden;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
}

.blog preview-image {
    object-fit: cover;
}

.blog-preview-text {
    padding: 30px;
}

.blog-preview-time {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 10px;
    line-height: 150%;
    color: #787878;
}

.blog-preview-title {
    margin: 0;
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 130%;
    color: #1c1c1c;
}

.blog-preview-descr {
    margin: 0;
    font-size: 14px;
    color: #787878;
    max-width: 210px;
}

.clients {
    border-bottom: 1px solid #dadada;
}

.clients-item {
    flex-direction: column;
    width: 370px;
    padding: 50px 36px;
    padding-bottom: 30px;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
}

.clients-item:not(:nth-child(3n)) {
    margin-right: 30px;
}

.clients-item-descr {
    margin: 0;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 180%;
    color: #787878;
}

.clients-user {
    margin-top: auto;
    align-items: center;
    border-top: 1px solid #dadada;
    width: 100%;
    padding-top: 28px;
}

.clients-avatar {
    flex-shrink: 0;
    width: 67px;
    margin-right: 17px;
}

.clients-avatar img {
    width: 100%;
    height: 100%;
    border: 2px solid #3172B9;
    border-radius: 100%;
}

.clients-name {
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 17px;
    line-height: 180%;
    color: #1c1c1c;
}

.clients-post {
    font-size: 14px;
    line-height: 180%;
    color: #787878;
}

.contacts {
    border-bottom: 1px solid #dadada;
}

.contacts-addres {
    font-style: normal;
}

.contacts-item {
    flex-direction: column;
    width: 370px;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 29px 29px;
    padding-top: 49px;
}

.contacts-item-address {
    background-image: url(../img/location_on.svg);
}

.contacts-item-call {
    background-image: url(../img/phone.svg);
}

.contacts-item-mail {
    background-image: url(../img/mail.svg);
}

.contacts-item:not(:nth-child(3n)) {
    margin-right: 30px;
}

.contacts-item-caption {
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 17px;
    line-height: 180%;
    color: #1c1c1c;
}

.contacts-item-link:not(:last-child) {
    margin-bottom: 5px;
}

.contacts-item-text {
    margin: 0;
    max-width: 215px;
    font-size: 14px;
    line-height: 180%;
    color: #787878;
}

.contacts-item-link {
    font-size: 14px;
    line-height: 180%;
    color: #787878;
    margin-bottom: 5px;
}

.contacts-item-link:hover {
    color: #71a7e2;
}

.contacts-item-link:active {
    color: #0e3b6c;
}

.join-us {
    border-bottom: 1px solid #dadada;
}

.join-us-title {
    text-align: center;
}

.join-us-descr {
    text-align: center;
    margin-bottom: 30px;
}

.form {
    padding-left: 55px;
    padding-right: 55px;
}

.form-input {
    border: 1px solid #dadada;
    border-radius: 50px;
    box-sizing: border-box;
    padding: 16px 28px;
    width: 251px;
    height: 60px;
    margin-bottom: 20px;
}

.form-select {
    border: 1px solid #0e3b6c;
    box-sizing: border-box;
    border-radius: 50px;
    padding: 16px 28px;
    width: 251px;
    height: 60px;
}

.form-textarea {
    border: 1px solid #dadada;
    box-sizing: border-box;
    border-radius: 20px;
    resize: none;
    padding: 16px 28px;
    width: 100%;
    height: 100%;
}

.form-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 19px;
}

.form-left {
    width: 49%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-right {
    width: 49%;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-bottom {
    display: flex;
    justify-content: flex-end;
}

.form-btn {
    min-width: 230px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 50px;
    margin-bottom: 9px;
}

.form-check {
    font-size: 12px;
    line-height: 16px;
    color: #787878;
}

.form-check input {
    margin-right: 8px;
}

.form-check a {
    color: #3172B9;
    border-bottom: 1px solid #3172B9;
}

.form-input:hover {
    border: 1px solid #71a7e2;
}

.form-input:active {
    background-color: #71a7e220;
}

.footer {
    padding: 42px 0;
}

.footer-copy {
    font-size: 12px;
    line-height: 16px;
    color: #787878;
}

.footer-link {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #787878;
}

.social-link {
    display: block;
    width: 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.footer-container {
    align-items: center;
    justify-content: space-between;
}

.footer-left,
.footer-right {
    align-items: center;
}

.footer-logo {
    margin-right: 25px;
}

.footer-item:not(:last-child) {
    margin-right: 28px;
}

.social-link-ws {
    background-image: url(../img/ws.svg);
}

.social-link-tg {
    background-image: url(../img/tg.svg);
}

.social-link-mail {
    background-image: url(../img/mail.svg);
}

.social-item:not(:last-child) {
    margin-right: 32px;
}

.footer-nav {
    margin-right: 56px;
}


.burger {
    display: none;
    position: relative;
    z-index: 100;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 20px;
}

.burger span {
    width: 80%;
    height: 2px;
    transform: scale(1);
    background-color: rgb(0, 0, 0);
}

.burger::before, .burger::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    transform: all 0.3s ease 0s;
    background-color: rgb(0, 0, 0);
}

.burger::before {
    top: 0;
}

.burger::after {
    bottom: 0;
}

.burger.active span {
    transform: scale(0);
}

.burger.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
}
.open {
    display: flex !important;
}
@media (max-width: 360px) {
    body {
        min-width: 320px;
        padding: 0 10px;
    }
    
    .container {
        width: 100%;
        padding: 0 10px;
    }

    .header-container {
        flex-wrap: wrap;
        padding: 15px 0;
    }

    .header-nav {
        order: 3;
        margin: 15px 0 0;
        display: none;
        flex-direction: column;
        height: 100%;
        width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 50;
        overflow-y: auto;
        padding: 50px 40px;
        background-color: #c9ddf3;
    }

    .header-nav ul {
        row-gap: 20px;
        flex-direction: column;
    }

    .header-nav a {
        color: #fff;
    }

    .header-btn {
        margin-left: auto;
        padding: 10px 20px;
    }

    .burger {
        display: flex;
        margin-left: 20px;
    }

    .hero {
        padding: 50px 0;
        background-image: none;
    }

    .hero-content {
        max-width: 100%;
        align-items: center;
        text-align: center;
    }

    .hero-title {
        font-size: 28px;
    }

    .section-title {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .section-descr {
        margin-bottom: 30px;
    }

    .services-items,
    .articles-list,
    .clients-list,
    .contacts-list {
        flex-direction: column;
        align-items: center;
    }

    .services-item,
    .articles-item,
    .clients-item,
    .contacts-item {
        width: 100%;
        margin-right: 0 !important;
        margin-bottom: 20px;
    }

    .blog-preview {
        flex-direction: column;
    }

    .blog-preview-image {
        width: 100%;
        height: auto;
    }

    .form-top {
        flex-direction: column;
    }

    .form-left,
    .form-right {
        width: 100%;
    }

    .form-input,
    .form-select {
        width: 100%;
    }


    .form-textarea {
        height: 150px;
    }

    .footer-container {
        flex-direction: column;
        text-align: center;
        display: flex;
    }

    .footer-nav {
        margin: 15px 0;
    }

    .footer-list {
        flex-direction: column;
        
    }

    .footer-item {
        margin: 5px 0 !important;
    }

    .social {
        justify-content: center;
        margin-top: 15px;
    }

    .form-right {
        margin-top: 10px;
    }
}

@media (max-width: 576px) {
    body {
        min-width: 576px;
        padding: 0 10px;
    }
    
    .container {
        width: 100%;
        padding: 0 10px;
    }

    .header-container {
        flex-wrap: wrap;
        padding: 15px 0;
    }

    .header-nav {
        order: 3;
        margin: 15px 0 0;
        display: none;
        flex-direction: column;
        height: 100%;
        width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 50;
        overflow-y: auto;
        padding: 50px 40px;
        background-color: #c9ddf3;
    }

    .header-nav ul {
        row-gap: 20px;
        flex-direction: column;
    }

    .header-nav a {
        color: #fff;
    }

    .header-btn {
        margin-left: auto;
        padding: 10px 20px;
    }

    .burger {
        display: flex;
        margin-left: 20px;
    }

    .hero {
        padding: 50px 0;
        background-image: none;
    }

    .hero-content {
        max-width: 100%;
        align-items: center;
        text-align: center;
    }

    .hero-title {
        font-size: 28px;
    }

    .section-title {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .section-descr {
        margin-bottom: 30px;
    }

    .services-items,
    .articles-list,
    .clients-list,
    .contacts-list {
        flex-direction: column;
        align-items: center;
    }

    .services-item,
    .articles-item,
    .clients-item,
    .contacts-item {
        width: 100%;
        margin-right: 0 !important;
        margin-bottom: 20px;
    }

    .blog-preview {
        flex-direction: column;
    }

    .blog-preview-image {
        width: 100%;
        height: auto;
    }

    .form-top {
        flex-direction: column;
    }

    .form-left,
    .form-right {
        width: 100%;
    }

    .form-input,
    .form-select {
        width: 100%;
    }


    .form-textarea {
        height: 150px;
    }

    .footer-container {
        flex-direction: column;
        text-align: center;
        display: flex;
    }

    .footer-nav {
        margin: 15px 0;
    }

    .footer-list {
        flex-direction: column;
        
    }

    .footer-item {
        margin: 5px 0 !important;
    }

    .social {
        justify-content: center;
        margin-top: 15px;
    }

    .form-right {
        margin-top: 10px;
    }
}

@media (max-width: 768px) {
    body {
        min-width: 768px;
        padding: 0 10px;
    }
    
    .container {
        width: 100%;
        padding: 0 10px;
    }

    .header-container {
        flex-wrap: wrap;
        padding: 15px 0;
    }

    .header-nav {
        order: 3;
        margin: 15px 0 0;
        display: none;
        flex-direction: column;
        height: 100%;
        width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 50;
        overflow-y: auto;
        padding: 50px 40px;
        background-color: #c9ddf3;
    }

    .header-nav ul {
        row-gap: 20px;
        flex-direction: column;
    }

    .header-nav a {
        color: #fff;
    }

    .header-btn {
        margin-left: auto;
        padding: 10px 20px;
    }

    .burger {
        display: flex;
        margin-left: 20px;
    }

    .hero {
        padding: 50px 0;
        background-image: none;
    }

    .hero-content {
        max-width: 100%;
        align-items: center;
        text-align: center;
    }

    .hero-title {
        font-size: 28px;
    }

    .section-title {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .section-descr {
        margin-bottom: 30px;
    }

    .services-items,
    .articles-list,
    .clients-list,
    .contacts-list {
        flex-direction: column;
        align-items: center;
    }

    .services-item,
    .articles-item,
    .clients-item,
    .contacts-item {
        width: 100%;
        margin-right: 0 !important;
        margin-bottom: 20px;
    }

    .blog-preview {
        flex-direction: column;
    }

    .blog-preview-image {
        width: 100%;
        height: auto;
    }

    .form-top {
        flex-direction: column;
    }

    .form-left,
    .form-right {
        width: 100%;
    }

    .form-input,
    .form-select {
        width: 100%;
    }


    .form-textarea {
        height: 150px;
    }

    .footer-container {
        flex-direction: column;
        text-align: center;
        display: flex;
    }

    .footer-nav {
        margin: 15px 0;
    }

    .footer-list {
        flex-direction: column;
        
    }

    .footer-item {
        margin: 5px 0 !important;
    }

    .social {
        justify-content: center;
        margin-top: 15px;
    }

    .form-right {
        margin-top: 10px;
    }
}



@media (max-width: 992px) {
    
    .container {
        width: 100%;
        padding: 0 10px;
    }
}